AGENT_PORT=9638

# USB printer (Windows)
PRINTER_TYPE=usb
PRINTER_NAME=Honeywell PC42t plus (203 dpi)

# TCP/IP printer (network)
# PRINTER_TYPE=tcp
# PRINTER_IP=192.168.0.100
# PRINTER_PORT=9100

# Set to false for real printing
SIMULATE=false
